ML/img_align_celeba/*
ML/__pycache__/
ML/checkpoints/*
ML/.floydexpt
ML/floyd.yml
ML/hehe.py
ML/glasses
ML/graphs
ML/testar.py
ML/testartf.py
face-web/node_modules
ML/webcheckpoint
ML/savedModel
ML/savedModel/*
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
face-web/node_modules
face-web/.pnp
face-web/.pnp.js

# testing
face-web/coverage

# production
face-web/build

# misc
.DS_Store
face-web/.env.local
face-web/.env.development.local
face-web/.env.test.local
face-web/.env.production.local

face-web/npm-debug.log*
face-web/yarn-debug.log*
face-web/yarn-error.log*